@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

#webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  cursor: pointer;
}
h1 {
  color: white;
  position: absolute;
  font-size: 2rem;
  z-index: 2;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}
